@mixin mobile {
    @media screen and (max-width:480px) {
        @content;
    }
}

.main {

    .section1 {
        background-color: #fbfdff;
        background: linear-gradient(rgba(238, 238, 238, 0.691), rgba(198, 198, 198, 0.554))
                    ,url('../../../public/img/classroom.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;

        @include mobile {
            width: 100vw;
        }
    
        .circle {
            background-color: white;
            height: 1200px;
            width: 1200px;
            border-radius: 50%;
            position: relative;
            top: -350px;
            left: -80px;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                // display: none;
                top:0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 0%;
            }
    
    
            div {
                height: 50%;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                top: 180px;
    
                h1 {
                    margin-bottom: 10px;
                    font-size: 70px;
                    font-weight: 900;

                    @include mobile {
                        font-size: 40px;
                        font-weight: 700;
                    }
                }
    
                p {
                    margin-bottom: 20px;
                    font-size: 30px;
                    font-weight: 300;
                    color: #767676;

                    @include mobile {
                        font-size: 20px;
                    }
                }
    
                a {               
                    background-color:#3c99b7;
                    padding: 20px 50px;
                    border-radius: 100px;
                    transition: all 0.5s;
                    cursor: pointer;
                    color:#ffffff;
                    font-size: 25px;
                    margin-top: 30px;
                    font-weight: 400;
                    
                    @include mobile {
                        font-size: 20px;
                    }

                    
    
                    &:hover {
                        background-color: #5ca4bc;
                    }
                }
            }
        }
    }
    
    .section2 {
        background-color: rgb(248, 255, 255);
        padding: 200px 0;

        @include mobile {
            padding: 200px 20px;
        }

        @include mobile {
            width: 100vw;
        }
        .items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            max-width: 1500px;
            margin: 0 auto;
            gap: 25px;

            @include mobile {
                grid-template-columns: 1fr;
            }

            .box {
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                padding: 30px;
                border-radius: 20px;
                text-align: center;
                box-shadow:   
                1.9px 1.6px 2.3px -1px rgba(0, 0, 0, 0.12),
                14px 12px 18px -1px rgba(0, 0, 0, 0.23);

                img {
                    border-radius: 50%;
                    object-fit: cover;
                    width: 200px;
                    height: 200px;
                }
    
                h2 {
                    font-weight: 700;
                    font-size: 30px;
                }
    
                p {
                    font-size: 20px;
                    line-height: 40px;
                }
    
                a {
                    background-color: #3c99b7;
                    padding: 20px 40px;
                    border-radius: 100px;
                    transition: all 0.5s;
                    cursor: pointer;
                    color: white;
                    display: inline-block;
    
                    &:hover {
                        background-color: #63a1b6;
                    }
                }
            }
        }
    }

    .section3 {
        background-color: #63a1b6;
        padding: 100px 0;

        @include mobile {
            padding: 100px 20px;
        }

        h2 {
            font-size: 50px;
            text-align: center;
            margin-bottom: 50px;
        }
        .items3 {
            max-width: 1500px;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            row-gap: 50px;

            @include mobile {
                grid-template-columns: 1fr;
            }

            .box3 {
                background-color: white;
                padding: 20px;
                border-radius: 20px;
                box-shadow:   
                1.9px 1.6px 2.3px -1px rgba(0, 0, 0, 0.12),
                14px 12px 18px -1px rgba(0, 0, 0, 0.23);

                h3 {
                    font-weight: 800;
                    font-size: 20px;
                }
              
                .profile {
                    display: flex;
                    align-items: center;

                    img {
                        width: 15%;
                    }
                    .account {

                        h3 {
                            font-weight: 700;
                            font-size: 1rem;
                        }

                    }
                }
            }
        }
    }

    .section4 {
        padding: 100px 0;
        transition: 0.9s;

        @include mobile {
            padding: 100px 20px;
        }

        
        .items4 {
            max-width: 1500px;
            margin: auto;
            .box4 {
                display: flex;
                align-items: center;
                gap: 50px;
                margin-bottom: 200px;

                @include mobile {
                    flex-direction: column;
                }

                &:nth-child(even){
                    flex-direction: row-reverse;
                    width: 100vw;

                    @include mobile {
                        flex-direction: column;
                    }
                }

                .img4 {
                    width: 30%;

                    @include mobile {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                    }
                }

                .desc4 {
                    width: 70%;
                    h3 {
                        font-weight: 700;
                        font-size: 40px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .test {
        opacity: 0%;
    }

}


